<div class="center hero-unit">
  <h1>betyourhomies.com</h1>

  <h2>
    Place some bets with your homies...
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>