<footer class="footer">
  <small>
    betwithyourhomies.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><a href="http://adexchanger.com/">news</a></li>
    </ul>
  </nav>
</footer>